<div class="tweet panel panel-default">
       <div class="panel-heading">
         <div class="avatar">
             <a href="http://twitter.com/{{user.screen_name}}"
             target="_blank">
               <img src="{{user.profile_image_url}}"/>
             </a>
         </div>
         
         <div class="user">
             <a href="http://twitter.com/{{user.screen_name}}"
              target="_blank"> {{user.name}}
             </a>
         </div>
               
         <div class="time">{{created_at}}</div>
        </div>
       <div class="txt panel-content">
           <p>{{{entities.text}}}</p>
       </div>
</div>